.bizCardBody{
    padding: 0;
    .bizCard{
        margin: 50px auto;
        width: 94%;
        min-height: 270px;
        border-radius: 10px;
        overflow: hidden;
        .bizCardTop{
            background-color: #24282F;
            display: flex;
            padding: 20px 15px;
            flex-direction: row;
            .bizCardTopLeft{
                flex: 1;
                h1{
                    font: 16px LexendReg;
                    color: #F3AF56;
                    text-transform: uppercase;
                    margin: 8px 0 2px;
                }
                p{
                    text-transform: uppercase;
                    font: 10px LexendLight;
                    color: #fff;
                }
            }
            .bizCardTopRight{
                width: 80px;
                img{
                    width: 100%;
                }
            }
        }
        
        .bizCardDetails{
            display: flex;
            flex-direction: row;
            padding: 0 16px 10px;
            border: 1px solid #ccc;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            .bizCardDetailsLeft{
                flex: 1;
                ul{
                    margin: 15px 0 0;
                    li{
                        display: flex;
                        flex-direction: row;
                        margin: 5px 0 10px;
                        align-items: center;
                        div{
                            width: 18px;
                            img{
                                width: 100%;
                            }
                        }
                        p{
                            flex: 1;
                            margin: 0 10px;
                            font: 9.5px LexendReg;
                            line-height: 13px;
                            span{
                                color: #24282F;
                                width: 100%;
                                font: 7px LexendLight;
                                display: block;
                                letter-spacing: .8px;
                            }
                        }
                    }
                }
            }
            .bizCardDetailsRight{
                width: 80px;
                padding-top: 0;
            }
        }
    }
}
